body {
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    color: white;
}

#msg {
    font-weight: bold;
}

#texto {
    font-size: 20px;
    display: block;
    color: black;
}

div {
    padding: 15px;
}

section {
    text-align: center;
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 6px 20px 7px rgb(0 0 0 / 70%);
}