* {
    padding: 0px;
    margin: 0px;
}

body {
    align-items: center;
    background-color: rgb(77, 151, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    color: white;
    margin: 50px;
}

h1 {
    font-size: 32px;
    gap: 20px;
}

#msg {
    font-weight: bold;
}

#texto {
    font-size: 20px;
    display: block;
    color: black;
}

div {
    padding: 15px;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 6px 20px 7px rgb(0 0 0 / 70%);
}